<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@600&family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="stylesheet" href="/static/index/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shorter</title>
</head>
<body>

    <div class="container">
        
{% with message = get_flashed_messages(with_categories=true) %}
    {% if message %}
        <div class="flush_message">
            <h4>
                {% for error,text in message %}
                    {{text}}
                {% endfor %}
            </h4>

            <span class="flash_btn_close"  onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endif %}
{%endwith%}

        <div class="main">
            <div class="media">
                <h3>Shorter links make life Easier</h3>
            </div>
            <div class="media">
                <form action="/" method="post">
                    <input class="inputs" type="text" name="username" id="username" placeholder="username">
                    <input class="inputs" type="text" name="link" id="link" placeholder="Link">
                    <input class="inputs" type="submit" value="generate">
                </form>
            </div>
            <div class="footer">
                <span class="low">
                    Notice : Correct Way To Pase links  
                </span>
                <br>
                <span class="low-low">
                        <span class="sp">1.For Example: </span> <u>https://www.google.com</u>   <br> 
                        <span class="sp">2.Correct Way</span> : <u>www.google.com</u>
                    </span>
                

                <span class="love-here" >Development With <span style="color:red;">&#10084;</span> </span>
                
                <div>
                    <a class="social-connection" href="https://github.com/alisharify7">
                        <i class="bi bi-github"></i>
                    </a>
                    <a class="social-connection" href="htpps://twitter.com/alisharify7">
                        <i class="bi bi-twitter"></i>
                    </a>
                </div>

            </div>
        </div>
    
    </div>
</body>
</html>